DATABASE_URL=postgresql+asyncpg://postgres:admin@localhost:5432/whatsapp_realestate
GREEN_API_INSTANCE_ID=7107546629
GREEN_API_TOKEN=83ce709d5ef64c20a9ab4cc48d63067254d126b788f
OPENAI_API_KEY=zjSpuTz8cGo1Rs-ts57x52ry0JOTRhNDA_7ok8pT3BlbkFJJizOC6bQOcb13rCRIGuq2pjI5NtirAK1SH5DXGsaUsynnXqTNzeUL5P9JyUmthuLFddLVEaNkA
OPENAI_MODEL=gpt-4o-mini
LOG_LEVEL=INFO
CORS_ORIGINS=["http://localhost:5173"]
